<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}Fusion Table Sample{% endblock %}</title>
  <link rel="stylesheet" href="static/style.css" type="text/css" media="all" />
{% ifequal path '/map' %}
<meta name="viewport" content="initial-scale=1.0, user-scalable=no"/> 
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/> 
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=true"></script> 
<script type="text/javascript" src="static/map.js"></script> 
{% endifequal %}
</head>
<body
{% ifequal path '/map' %}
onload="initialize()" style="font-family: sans-serif;" {% endifequal %}>
  <div id="header">
  {% if username %}<h3>Welcome ({{username}})</h3>{% endif %}
  <div id="menu-bar">
	<div class="table">
		<ul id="menu-bar-list">
			<li><a href="map"
				{% ifequal path '/map' %}
						class="selected"
				{% endifequal %}
			>Home</a></li>
			{% if username %}
			<li><a href="/logout">Logout ({{username}})</a></li>
			<li><a href="house"
	{% ifequal path '/house' %}
			class="selected"
	{% endifequal %}
	>House Review</a></li>
			{% else %}
			<li><a href="/login" {% ifequal path '/login' %}
			class="selected"
	{% endifequal %}>Submit a Review</a></li>
			{% endif %}
		</ul>
	</div>
    {% block bodycontent %}
		Replace this
	{% endblock %}
</body>
</html>


