{% extends "_base.html" %}
{% block title %}
	Choose your house
{% endblock %}
{% block bodycontent %}
	<p>
	Select what you want in your house
	</p>
	<div style="border: 1px;">
  Filter
   <form method>
Bedrooms: <select name="bedrooms" id="bedroom"> 
  <option value="-1">All</option>
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
</select>
Rent (per month): <select name="rent" id="rent">
  <option value="-1">All</option> 
  <option value="700">Less Than 700</option>
  <option value="1000">700-1000</option>
  <option value="2000">1001-2000</option>
  <option value="3000">Greater Than 2000</option>
</select>
Rating (out of 10): <select name="rating" id="rating"> 
  <option value="-1">All</option>
  <option value="0">0</option>
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
  <option value="7">7</option>
  <option value="8">8</option>
  <option value="9">9</option>
  <option value="10">10</option>
</select>
<input type="button" value="Filter" onClick="onClickFilterButton()"/>
</form>
</div>
	{% if error %}
	<p>
	{{error}}
	</p>
	{% endif %}
{% endblock %}
